workflows/auto_tag_blog_posts_in_wordpress_with_ai.json
{"createdAt":"2025-01-28T03:25:16.642Z","updatedAt":"2025-01-28T16:54:04.112Z","id":"siXUnQhJpCJ9rHzu","name":"[TEMPLATE] Auto-Tag Blog Posts in WordPress with AI","active":false,"nodes":[{"parameters":{"options":{}},"id":"0561d80b-f360-4a8e-930d-49b778833991","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3260,480],"credentials":{"openAiApi":{"id":"yWpagxp5s8o3dlBp","name":"OpenAi account"}}},{"parameters":{},"id":"d71aec64-299c-4258-8eb4-95821d15b758","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3460,540]},{"parameters":{"options":{}},"id":"1468a001-ca7b-4726-ae31-02b28d78b07e","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3360,680],"credentials":{"openAiApi":{"id":"yWpagxp5s8o3dlBp","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"tags\": [\"Germany\", \"Technology\", \"Workflow Automation\"]\n}"},"id":"bb4221ad-94d7-4543-850f-87b83735d2a6","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3560,760]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]}},"id":"2380c4ea-d804-45b2-8341-417afa2ae21f","name":"RSS Feed Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[3140,320]},{"parameters":{"assignments":{"assignments":[{"id":"ebe28fc7-f166-4428-b3f3-b319f2d080df","name":"tag_ids","value":"={{ $json.tag_ids }}","type":"array"},{"id":"bc296683-2a93-42b4-a9a7-90a2bc22f37b","name":"title","value":"={{ $('MOCK article').item.json.title }}","type":"string"},{"id":"32dc0950-3708-447e-a3b6-a5c5ae9bdcd0","name":"content","value":"={{ $('MOCK article').item.json.content }}","type":"string"}]},"options":{}},"id":"782e9c61-7d51-499b-89b2-888415c5116e","name":"Return article details","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,320]},{"parameters":{"fieldToSplitOut":"missing_tags","options":{"destinationFieldName":"missing_tag"}},"id":"6b5ce61f-8351-40ab-9e63-51c3e85ce53d","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2200,840]},{"parameters":{"options":{}},"id":"2338e3e8-cba4-48c8-8c1a-50019af70932","name":"Loop over articles","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1980,320]},{"parameters":{"includeOtherFields":true,"options":{}},"id":"39b89004-6032-4d22-8bcc-3dfd1d793ed0","name":"SET initial record","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,440]},{"parameters":{"url":"https://news.bundesliga3.com/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","options":{}},"id":"ec0b93cb-de9d-41be-9d4b-6846d3ee14a2","name":"GET WP tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,440],"executeOnce":true,"alwaysOutputData":true,"credentials":{"wordpressApi":{"id":"G3tU6Lp303BAu96W","name":"Bundesliga 3"}}},{"parameters":{"method":"POST","url":"https://news.bundesliga3.com/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"slug","value":"={{ $json.missing_tag }}"},{"name":"name","value":"={{ $json.missing_tag.replaceAll(\"-\",\" \").toTitleCase() }}"}]},"options":{}},"id":"cbabadef-9f5f-4402-8bd7-255f5c237ff9","name":"POST WP tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,840],"executeOnce":false,"credentials":{"wordpressApi":{"id":"G3tU6Lp303BAu96W","name":"Bundesliga 3"}}},{"parameters":{"url":"https://news.bundesliga3.com/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","options":{}},"id":"6bf40d39-4b42-413f-9502-3ca494f75bcb","name":"GET updated WP tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2700,840],"executeOnce":true,"credentials":{"wordpressApi":{"id":"G3tU6Lp303BAu96W","name":"Bundesliga 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ec4fdfc-73f3-4d7b-96e4-f42a18252599","leftValue":"={{ $('SET initial record').first().json.tags.map(item => item.toLowerCase().replaceAll(\" \",\"-\")) }}","rightValue":"={{ $json.slug }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"aea9a631-0cd8-4ed8-9fb1-981b8e11f3dd","name":"Keep matches","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2200,1040]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id","renameField":true,"outputFieldName":"tag_ids"}]},"options":{}},"id":"6d71d7a5-495d-4809-b66f-9f1cba0d11c6","name":"Combine tag_ids","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2420,1040]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"slug","renameField":true,"outputFieldName":"tags"}]},"options":{}},"id":"dc3cac68-dee8-4821-963b-b0594d1a7e0e","name":"Combine slugs","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2700,440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d77d072-cb47-4fbb-831a-0e6f3ecefc71","leftValue":"={{ $json.missing_tags }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8e0f668c-e3ac-4d70-9ffb-5515e6221c62","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2440,640]},{"parameters":{"assignments":{"assignments":[{"id":"4a69cf1b-341a-40bc-a36a-b76c05bdd819","name":"title","value":"={{ $('RSS Feed Trigger').item.json.title }}","type":"string"},{"id":"63097eb0-6165-4365-a5b5-e9f3de65d715","name":"content","value":"={{ $('RSS Feed Trigger').item.json.content }}","type":"string"},{"id":"ae4859ec-ad14-403e-b5b6-53703fefe3f3","name":"categories","value":"={{ $('RSS Feed Trigger').item.json.categories }}","type":"array"},{"id":"3f94d5ac-5196-4ad0-acea-79c07b0ee2c6","name":"tags","value":"={{ $json.output.tags }}","type":"array"}]},"options":{}},"id":"7988188d-07e6-4a36-94f2-e21d7677802e","name":"MOCK article","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3740,320]},{"parameters":{"jsCode":"const new_ary = $('SET initial record').first().json.tags.map(x => x.toLowerCase().replaceAll(\" \",\"-\")).filter(x => !$input.first().json.tags.includes(x))\n\nreturn {\"missing_tags\": new_ary};"},"id":"4578cb14-dc86-4bc4-8d59-f0c088574164","name":"Return missing tags","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,640]},{"parameters":{"title":"=Demo tagging post: {{ $json.title }}","additionalFields":{"content":"=This is a post to demo automatic tagging a WordPress postvia n8n. The following content could be rewritten in full or part with commentary using AI.\n\n{{ $json.content }}","tags":"={{ $json.tag_ids }}"}},"id":"91c8dde5-58ce-4bf6-ac3c-0062cbf0046e","name":"Wordpress","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[4360,320],"credentials":{"wordpressApi":{"id":"G3tU6Lp303BAu96W","name":"Bundesliga 3"}}},{"parameters":{"content":"## Demo Usage in Another Workflow (Tagging an article discovered with an RSS feed)","height":1061.6563737812796,"width":1673.0029952487134,"color":7},"id":"8257534e-f433-4225-a795-230fd367cc01","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3000,200]},{"parameters":{"content":"## Auto-Tag Posts in WordPress\n\nThis workflow allows you to hand off the responsibility of tagging content for WordPress to an AI Agent in n8n with no data entry required.","height":1077.24135750937,"width":1243.102096674096,"color":7},"id":"b14e6fda-c569-4ada-90d9-77b61049c531","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,198.96245932022566]},{"parameters":{},"id":"21420d0f-a5c9-4eac-b6d9-06d3a6de5fb9","name":"Demo Usage in Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1780,320]},{"parameters":{"workflowId":{"__rl":true,"value":"siXUnQhJpCJ9rHzu","mode":"id"},"mode":"each","options":{}},"id":"7571b196-3827-478f-b032-84d99adf4aa8","name":"Auto-Tag Posts in WordPress","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3940,320]},{"parameters":{"content":"## Copy this workflow\n\nYou can use it inline by removing the Called by Another Workflow trigger, or as-is as a subworkflow","height":146.4958582739091,"width":256.62869115182394,"color":5},"id":"e5b63f63-09a6-452d-9d26-8501fc49d7fe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2640,140]},{"parameters":{"content":"Handing off tagging and categorization fully to AI lets you **put your WordPress account on autopilot** without a human-in-the-loop.\n\nIn this example the application is use-case agnostic, but with this workflow you can:\n1. Use AI to rewrite content with original thoughts and tags\n2. Ensure healthy information architecture on your site\n3. Quickly generate multivariate tag and category combinations for optimal SEO","height":248.2919292392927,"width":409.8780943583022},"id":"2ea9fbdd-b492-4030-b640-227a163d70ef","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3040,980]},{"parameters":{"content":"### To ensure data can be passed to subsequent nodes, make sure to select \"Run Once for Each Item\" if executing a subworkflow","height":103.91486928512641,"width":369.61896876326364,"color":3},"id":"57cfa462-fc71-4173-b7c9-8253c4e240d1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3900,500]},{"parameters":{"content":"## What's this? \nIf there are missing tags we create them in WP, otherwise we keep get them all from WP and keep the relevant ones.","width":211.8330719827787,"color":6},"id":"7f1dfade-07be-49b7-b5ee-99b58f1e6cc7","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2640,660]},{"parameters":{"content":"## What's this? \nOne of the few potential failure points in this workflow, when checking for missing tags it's important that both the generated tags and the existing tags are in the same case (snake, dash, title).","height":251.80401948434695,"width":174.33565557367925,"color":3},"id":"61711c71-3e45-4b06-80a8-b651177b585d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1960,540]},{"parameters":{"content":"## ! A note about cases !\nIf you want your tags to follow a different case than I am using (dash case for slug, title case for name), then you will need to update a few nodes in this workflow.","width":285.2555025627061},"id":"7d6eac92-6f6f-44a4-8dce-0830440a9dff","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,1040]},{"parameters":{"content":"## Ready for a challenge?\n\nMake this subworkflow executable for both categories and tags, accounting for different API calls to different endpoints.","width":296.01271681531176,"color":5},"id":"133be2f7-071b-4651-b3b5-8052a64b7f49","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2600,1200]},{"parameters":{"content":"## About the maker\n**[Find Ludwig Gerdes on LinkedIn](https://www.linkedin.com/in/ludwiggerdes)**","height":87.34661077350344,"width":244.3952545193282,"color":4},"id":"7807e967-ac3d-4a4d-bd9d-f123d57e1676","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4400,1155.7364351382535]},{"parameters":{"promptType":"define","text":"=Please provide 3-5 suitable tags for the following article:\n\n{{ $json.content }}\n\nTag Formatting Rules:\n1. Tags should be in title case","hasOutputParser":true},"id":"31db85c9-e4c2-4409-9d92-7eb005223de0","name":"Generate tags for article","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3360,320]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate tags for article","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Generate tags for article","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"Generate tags for article","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"POST WP tags","type":"main","index":0}]]},"Loop over articles":{"main":[[],[{"node":"SET initial record","type":"main","index":0}]]},"SET initial record":{"main":[[{"node":"GET WP tags","type":"main","index":0}]]},"GET WP tags":{"main":[[{"node":"Combine slugs","type":"main","index":0}]]},"POST WP tags":{"main":[[{"node":"GET updated WP tags","type":"main","index":0}]]},"GET updated WP tags":{"main":[[{"node":"Keep matches","type":"main","index":0}]]},"Keep matches":{"main":[[{"node":"Combine tag_ids","type":"main","index":0}]]},"Combine slugs":{"main":[[{"node":"Return missing tags","type":"main","index":0}]]},"If":{"main":[[{"node":"GET updated WP tags","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"MOCK article":{"main":[[{"node":"Auto-Tag Posts in WordPress","type":"main","index":0}]]},"Combine tag_ids":{"main":[[{"node":"Loop over articles","type":"main","index":0}]]},"Return article details":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"Return missing tags":{"main":[[{"node":"If","type":"main","index":0}]]},"Auto-Tag Posts in WordPress":{"main":[[{"node":"Return article details","type":"main","index":0}]]},"Demo Usage in Another Workflow":{"main":[[{"node":"Loop over articles","type":"main","index":0}]]},"Generate tags for article":{"main":[[{"node":"MOCK article","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Generate tags for article":[{"json":{"output":{"tags":["Team Achievements","Global Community","Product Growth","2024 Highlights","Reflecting on Progress"]}}}]},"versionId":"6d196946-4e97-452b-a28c-2968e5527f1d","triggerCount":0,"tags":[{"createdAt":"2025-01-28T16:42:03.029Z","updatedAt":"2025-01-28T16:42:03.029Z","id":"ijuVOmJpw5mCrzQX","name":"marketing"}]}