workflows/programmatically_retrieve_embeddable_getty_images.json
{"createdAt":"2025-01-24T17:55:10.239Z","updatedAt":"2025-02-08T22:20:17.003Z","id":"iyiGhcmXs46BcLBX","name":"[TEMPLATE] Programmatically Retrieve Embeddable Getty Images","active":false,"nodes":[{"parameters":{"content":"## Programmatically Retrieve Getty's Embeddable Images\nThis workflow allows you to add Getty Images' embeddable images to your publications programmatically.\n\n**Please read through Getty Images' terms and uses carefully before using this workflow.**","height":193.0832044920246,"width":535.7451436867387,"color":5},"id":"f4ed726d-21cd-48b3-a4ec-17b57238be44","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,404]},{"parameters":{"content":"## REPLACE ME\nThe above node can be replaced by a connection to WordPress or another CMS","height":166.10023626707672,"width":178.9976373292297,"color":3},"id":"5bf1311a-1180-46ae-9a9e-3e1b20cac4e5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,900]},{"parameters":{"content":"## Image preview path\nIf needed, you can use this path to preview the image(s) that were sent through the workflow","height":259.47571230733985,"width":886.7209141939146,"color":5},"id":"a98fd7b8-96dd-42b4-92e0-cf3b2b04bdd0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[658,402]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"cssSelector":"article a","returnValue":"attribute","attribute":"href"}]},"options":{}},"id":"af5d60ee-f8cb-4efa-8bac-bc6fdab15fe8","name":"Parse results page for first image","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[140,620]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a960636-c586-49ff-bd05-88066cbc65a5","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4365311f-2c04-4cbf-926b-9bd8a4e6dcab","name":"Continue if a result exists","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,620]},{"parameters":{"assignments":{"assignments":[{"id":"c60f8d26-ca09-481b-81a3-8978cdd8aa3e","name":"getty_image_id","value":"={{ $json[''].split('/').last() }}","type":"string"}]},"options":{}},"id":"fdbd15ac-2e38-40ff-9e1e-678e79874b49","name":"Extract the Getty image_id from url","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,720],"notesInFlow":true,"notes":"getty_image_id"},{"parameters":{"url":"=https://www.gettyimages.com{{ $json[''] }}","options":{}},"id":"9173f29a-6986-45e4-b4b7-1e8fd9d99e31","name":"Get photo details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,480]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"cssSelector":"picture img","returnValue":"attribute","attribute":"src"}]},"options":{}},"id":"3544930a-c623-421b-8815-455d418f8d60","name":"GET img src","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[900,480]},{"parameters":{"assignments":{"assignments":[{"id":"7a4bc996-f372-4b4c-b061-13a29f249f86","name":"iframeSnippet","value":"={{ $json.iframeSnippet }}","type":"string"}]},"options":{}},"id":"18067de2-1ee1-4c0e-8fc4-8bd430c4d5bb","name":"Get Embeddable iframeSnippet","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,720]},{"parameters":{"content":"### IMPORTANT NOTE\nIf Getty Images does not permit embedding the image, this node will respond with a 404 \"Image not found\" HTTP response","height":168.54033077390773,"width":178.99763732922918,"color":3},"id":"59e887a1-ba83-4ae3-a0af-95d0aa844b18","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[860,900]},{"parameters":{"errorMessage":"=No image results for {{ $('Getty Images Editorial Search').params.queryParameters.parameters.find(param => param.name === \"phrase\")?.value.replace(/^=/, '') }}"},"id":"f9f02bab-6f9a-4dd1-be90-c1e6c1dde662","name":"Raise error when no results","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[520,800]},{"parameters":{"content":"## Getty Images Usage Guidance\nThis usage is not available on our License agreement, it is not something Getty Images doesn't recommend to customers due to legal matters, in case customers don't follow all restrictions.\n\nNot all Getty Images Content is available for embedded use, and availability may change without notice. You may only use embedded Getty Images Content for editorial purposes (relating to events that are newsworthy or of public interest). \n\n**Embedded Getty Images content may not be used:**\na. for any commercial purpose (for example, in advertising, promotions or merchandising) or to suggest endorsement or sponsorship;\nb. in violation of any stated restriction;\nc. in a defamatory, pornographic or otherwise unlawful manner; or\nd. outside of the context of the Embedded Viewer.\n\nTo learn more about embed please visit: http://www.gettyimages.com/resources/embed\n\n**Here is how to use the embed feature:**\nOn the search results page hover over an image and select the embed icon.\nOn the asset details page, select the embed icon. Copy the embed code and paste it into your blog or website.\n\nThese images contain both a link back to our site, to the asset detail page, as well as proper attribution and branding.\n\nThe image will be low res (the same size as the detail view on the gettyimages.com website), approximately 0.17 megapixels and cannot be resized or edited.\nThe image will be hosted and served by Getty Images.\n\nEmbeded images are available/rendered as long as they are available on original posts.\n \nNot all images belong to Getty and some of them have restrictions, or are removed due to contracts, that's why Getty Images does't recommend this as an option.\nAt the same times, Getty Images doesn't have full control of the images when they belong to other collections.\n \nIt will be up to you (the user) to archive, to remove, and to update your page(s). And if there are any claims, Getty Images are not responsible for such because you don't have a license in place.\n\nPlease refer to https://www.gettyimages.com/company/terms to understand the terms of use and make sure you follow our License agreement in all extension: https://www.gettyimages.com/eula","height":963.3553936193086,"width":530.2525026724622,"color":3},"id":"cfa22c39-ad39-4324-8fe6-f24bdb78824f","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,820]},{"parameters":{"content":"## Happy Path","height":428.2314589209148,"width":889.1201305886145,"color":7},"id":"38050f94-c884-4bcb-b55a-ce12cb9628c2","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[658,673]},{"parameters":{"url":"https://www.gettyimages.com/search/2/image","sendQuery":true,"queryParameters":{"parameters":[{"name":"family","value":"editorial"},{"name":"orientations","value":"horizontal"},{"name":"phrase","value":"={{ $json.phrase }}"},{"name":"recency","value":"last30days"},{"name":"recommendconfig","value":"none"},{"name":"sort","value":"newest"}]},"options":{}},"id":"dff414b9-3945-406d-a247-76fa4d90e327","name":"Getty Images Editorial Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,620],"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"9bf3151f-6e42-415b-91e2-73709ee4158f","name":"phrase","value":"={{ $json.chatInput || $json.name }}","type":"string"}]},"options":{}},"id":"94c6fc16-a97d-4e1e-932c-2c5009a9e474","name":"Replaceable input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,620]},{"parameters":{},"id":"73f40bda-17ee-41b6-a4ed-5fd45527d670","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-460,620]},{"parameters":{"options":{}},"id":"c5f2b707-862e-4f27-8763-5d5e1e46d84f","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-460,840],"webhookId":"5898180c-4fea-48fb-a623-020e8dad6c7b"},{"parameters":{"url":"=https://embed.gettyimages.com/preview/{{ $json.getty_image_id }}?caller=getty-adp&uni=true&caption=true ","options":{}},"id":"eb1bf559-435f-4ed2-af70-813e779ff6c0","name":"Request Getty Images Embed code","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,720],"notesInFlow":false,"onError":"continueRegularOutput","notes":"https://embed.gettyimages.com/preview/"},{"parameters":{"url":"={{ $json[''] }}","options":{}},"id":"2e146f9e-cb67-457d-844e-e958cff8d8ae","name":"Preview image (view binary)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,480]},{"parameters":{},"id":"8519d771-d78b-4a90-91da-ab5ef3d71720","name":"Replace with CMS node","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1320,720]},{"parameters":{"content":"## Ideas for improvement\n1. Hide Getty iframe after x amount of time using a [custom script](https://chatgpt.com/share/67946b2e-7c18-800b-ae7d-ec9d903cfb5e)\n2. Secondary workflow to remove iframe from page altogether","height":220.48247206258765},"id":"f2858e0c-8b48-4630-8e81-bfbb24228299","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,340]}],"connections":{"Parse results page for first image":{"main":[[{"node":"Continue if a result exists","type":"main","index":0}]]},"Continue if a result exists":{"main":[[{"node":"Extract the Getty image_id from url","type":"main","index":0},{"node":"Get photo details","type":"main","index":0}],[{"node":"Raise error when no results","type":"main","index":0}]]},"Extract the Getty image_id from url":{"main":[[{"node":"Request Getty Images Embed code","type":"main","index":0}]]},"Get photo details":{"main":[[{"node":"GET img src","type":"main","index":0}]]},"GET img src":{"main":[[{"node":"Preview image (view binary)","type":"main","index":0}]]},"Get Embeddable iframeSnippet":{"main":[[{"node":"Replace with CMS node","type":"main","index":0}]]},"Getty Images Editorial Search":{"main":[[{"node":"Parse results page for first image","type":"main","index":0}]]},"Replaceable input":{"main":[[{"node":"Getty Images Editorial Search","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Replaceable input","type":"main","index":0}]]},"Request Getty Images Embed code":{"main":[[{"node":"Get Embeddable iframeSnippet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"id":1,"created_at":"2025-01-10T03:27:21.31982+00:00","name":"Dynamo Dresden","code":"DRE","country":"Germany","founded":1953,"national":false,"logo_img":"https://media.api-sports.io/football/teams/183.png","news_feed_url":"https://www.dynamo-dresden.de/aktuelles/news/alle-news/"}},{"json":{"id":1,"created_at":"2025-01-10T03:27:21.31982+00:00","name":"Dynamo Dresden","code":"DRE","country":"Germany","founded":1953,"national":false,"logo_img":"https://media.api-sports.io/football/teams/183.png","news_feed_url":"https://www.dynamo-dresden.de/aktuelles/news/alle-news/"}}]},"versionId":"6fa80f16-c375-4b5e-8765-d6a553a56de4","triggerCount":0,"tags":[{"createdAt":"2025-01-28T16:42:03.029Z","updatedAt":"2025-01-28T16:42:03.029Z","id":"ijuVOmJpw5mCrzQX","name":"marketing"}]}